
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #edf9fe;
  }
.header{
    width: 100%;
    color: #183266;
    height: 100px;
    font-size: 20px;
}
.header .container{
    max-width: auto;
    margin: 0px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-family: 'Poppins', sans-serif;
}
.header .container .logo{
    font-family: 'WindSong', cursive;
}
nav{
    display: flex;
}
nav ul{
    display: flex;
    margin-right: 10px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: #183266;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 30px;
}
.section{
    width: 100%;
    min-height: 100vh;
}
.container-1{
    width: 85%;
    display: block;
    margin: auto;
    padding-top: 60px;
}
.content-section{
    float: left;
    width: 50%;
    height: 50%;
}
.image-section{
    float: left;
    width: 50%;
}
.image-section img{
    width: 100%;
    height: auto;
}
.content-section .title{
    /* padding-top: 80px; */
    padding-bottom: 10px;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    color: #183266;
}
.content-section .content h3{
    margin-top: 20px;
    color: #183266;
}
.content-section .content h2{
    margin-top: 10px;
    /* font-size: 20px; */
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
    /* max-width: 700px; */
    color: #7f8daa;
    width: 85%;
    
}
.content-section .content .button{
    margin-top: 50px;
    
}
.content-section .content .button a{
    background-color: #183266;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
    border-radius: 10px;
}
.content-section .content .button a:hover{
    background-color: #7f8daa00;
    color: #183266;
    border: 2px solid #183266;
}
.content-section .social{
    margin: 40px 40px;
    margin-top: 70px;
}
.content-section .social i{
    /* color: #000; */
    font-size: 40px;
    padding: 0px 15px;
}
.content-section .social i:hover{
    color: #183266;
}
#linkedin{
    color: #0e76a8;
}
#twitter{
    color: #1DA1F2;
}
#github{
    color: black;
}
@media only screen and (max-width: 700px){
    .image-section{
        float: none;
        width: 100%;
        height: auto;

    }
    .content-section{
        text-align: center;
        width: 100%;
        
    }
    .content-section .content h2{
        text-align: center;
        float: unset;
        padding: 0%;
        margin: 0px;
        width: 100%;
        font-size: 3vh;
    }
    .header .container .logo{
        margin: 0px;
        padding: 0px;
        text-align: center;
        width: 100%;
        font-size: 2vh;
    }
    .content-section .title{
        font-size: 4vh;
    }
}